{%extends 'adminbase.html'%}

{%block contents%}

<div class="container p-3 my-3 bg-dark text-white">
  <h1>Get Authentication Token JWT</h1>
  <p>Getting Authentication Token For Product Catalog, if you dont have authentication token then it failed</p>

<span class="label label-danger">{{token}}</span>
         <label></label>


</div>

<div class="container p-3 my-3 bg-primary text-white">
  <h1>My First Bootstrap Page</h1>
  <p>This container has a blue background color and a white text, and some extra padding and margins.</p>
</div>
{%endblock%}